<div class="container">
  <h1> <%= @service.name %> </h1>
  <% if @service.photo.attached? %>
    <%= cl_image_tag @service.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <div class="card-service">
    <img src="https://source.unsplash.com/random/300x200" />
    <p> Price: <%= @service.price %> </p>
    <p> Category: <%= @service.category %> </p>
  </div>

  <%= link_to service_path(@service), method: :delete do %>
  <!-- if role = "user" link to create new job form -->
  <%= link_to "Book this service!", service_path(@service), class:"btn btn-primary" %>

    <i class="far fa-trash-alt"></i>
  <% end %>
</div>
