
<div class="container mx-3 justify-content-center">
  <h1> <%= @service.name %> </h1>
  <% if @service.photo.attached? %>
    <%= cl_image_tag @service.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>


<div class="card-service">
  <img src="https://source.unsplash.com/random/300x200" />
  <p> Price: $<%= @service.price %> </p>
  <p> Category: <%= @service.category %> </p>
</div>


<!-- if role = "user" link to create new job form -->
  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'service_id', @service.id %>
    <%= submit_tag 'Hire me', class: 'btn btn-primary' %>
  <% end %>
  <br>
  <%= link_to "Destroy!", service_path(@service), method: :delete, data: { confirm: "Tio boh?"}, class:"far fa-trash-alt"  %>

</div>





