<div class="container vh-100 mt-3">
  <div class="card-trip rounded">
    <% if @service.photo.attached? %>
      <%= cl_image_tag @service.photo.key, class:"card-img-top", height: 300, width: 400 %>
    <% else %>
      <img class="card-img-top" src="https://source.unsplash.com/400x300/?<%= @service.name %>,<%= @service.category %>/300x200" />
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @service.name %></h2>
        <p><strong>Category: </strong><%= @service.category %></p>
        <p><strong>Service by: </strong><%= @service.user.handle %></p>
      </div>
      <h2 class="card-trip-pricing">USD<%= @service.price %></h2>
    </div>
    <div class="container d-flex justify-content-center" style="background-color: #d3e0ea;">
      <div class="my-3">
        <%= link_to "Book", new_service_job_path(@service), class:"btn btn-primary " %>
        <%= link_to "Delete", service_path(@service), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-danger " %>
      </div>
    </div>
  </div>
</div>

