<section class="jumbotron text-center py-5" style="background-color: #D3E0EA;">
  <div class="container">
    <h1 class="jumbotron-heading">Top services</h1>
    <p class="lead text-muted">Here, you can find the top knotch services CrimeRate has to offer.</p>
  </div>
</section>

<div class="album py-3 px-3 bg-light">
  <div class="cards mt-3" style="display:grid; grid-template-columns: 1fr 1fr 1fr; grid-gap:10px">
    <% @top.each do |service| %>
      <div class="card mb-4 box-shadow">
        <% if service.photo.attached? %>
          <%= cl_image_tag service.photo.key, class:"card-img-top", height: 300, width: 400, crop: :fill %>
        <% else %>
          <img class="card-img-top" src="https://source.unsplash.com/400x300/?<%= service.name %>,<%= service.category %>/300x200" />
        <% end %>

        <div class="card-body">
          <h4 class="card-title"><%= link_to service.name, service_path(service) %></h4>
          <p class="card-text"><strong>Offered by: </strong><%= service.user.handle %></p>
          <p class="card-text"><strong>Offer price: </strong>USD<%= service.price %></p>
          <p class="card-text"><strong>Service category: </strong><%= service.category %></p>
          <p class="card-text"><strong>Create date: </strong><%= service.created_at.strftime('%F') %></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <% if current_user.role == "user" %>
                <%= link_to "Book", service_path(service), class:"btn btn-sm btn-outline-secondary" %>
              <% elsif current_user.role == "vendor" && current_user == service.user %>
                <%= link_to "Edit", edit_service_path(service), class:"btn btn-sm btn-outline-secondary" %>
                <%= link_to "Delete", service_path(service), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-sm btn-outline-secondary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
