<h2>Sign up for a new account here</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :location,
                required: true,
                hint: ("Must be an actual place"),
                input_html: { autocomplete: "location" } %>
    <%= f.input :description,
                required: true,
                hint: ("Describe yourself"),
                input_html: { autocomplete: "description" } %>
    <%= f.input :handle,
                required: true,
                hint: ("A handle to identify yourself"),
                input_html: { autocomplete: "handle" } %>
    <%= f.input :role,
                required: true,
                hint: ("Which are you: Vendor or User"),
                input_html: { autocomplete: "role" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
