<section class="jumbotron text-center py-5">
  <div class="container">
    <h1 class="jumbotron-heading">My Jobs</h1>
    <p class="lead text-muted">Here you can find all present and historical jobs that you are a part of</p>
    <div class="container">
      <%= form_tag(services_path, method:"get") do %>
        <select name="search", class="form-control w-80 d-inline-block">
          <option value="None">-Select-</option>
          <option value="Burglary">Burglary</option>
          <option value="Cybercrime">Cybercrime</option>
          <option value="Drugs">Drugs</option>
          <option value="Harassment">Harassment</option>
          <option value="Homicide">Homicide</option>
          <option value="Theft">Theft</option>
          <option value="Vandalism">Vandalism</option>
        </select>
        <input type="submit" value="Filter">
      <% end %>
    </div>
  </div>
</section>

<div class="album py-3 px-3 bg-light">
  <h1>Jobs not yet started</h1>
  <div class="cards mt-3" style="display:grid; grid-template-columns: 1fr 1fr 1fr; grid-gap:10px">
    <%= render @jobs.where("status='Not yet started'") %>
  </div>
</div>

<div class="album py-3 px-3 bg-light">
  <h1>Jobs in progress</h1>
  <div class="cards mt-3" style="display:grid; grid-template-columns: 1fr 1fr 1fr; grid-gap:10px">
    <%= render @jobs.where("status='In progress'") %>
  </div>
</div>

<div class="album py-3 px-3 bg-light">
  <h1>Jobs completed</h1>
  <div class="cards mt-3" style="display:grid; grid-template-columns: 1fr 1fr 1fr; grid-gap:10px">
    <%= render @jobs.where("status='Completed'") %>
  </div>
</div>

<div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
