<div class="container py-3">
  <div class="card-trip rounded">
    <% if @job.photo.attached? %>
      <%= cl_image_tag @job.photo.key, class:"card-img-top", height: 300, width: 400 %>
    <% else %>
      <img class="card-img-top" src="https://source.unsplash.com/400x300/?<%= @job.description %>,<%= @job.status %>/300x200" />
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @job.service.name %></h2>
        <p><strong>Category: </strong><%= @job.service.category %></p>
        <p><strong>Description: </strong><%= @job.description %></p>
        <p><strong>Requested by: </strong><%= @job.user.handle %></p>
        <p><strong>Serviced by: </strong><%= @job.service.user.handle %></p>
        <p><strong>Create date: </strong><%= @job.created_at.strftime('%F') %></p>
      </div>
      <div class="card-trip-pricing">
        <h2>USD<%= @job.service.price %></h2>
        <h2><%= @job.status %></h2>
      </div>
    </div>
    <div class="container d-flex justify-content-center" style="background-color: #d3e0ea;">
      <div class="my-3">
        <%= link_to "Reviews", job_reviews_path(@job), class:"btn btn-primary" %>
        <%= link_to "Add review", new_job_review_path(@job), class:"btn btn-success" %>
        <%= link_to "Edit", edit_job_path(@job), class:"btn btn-secondary" %>
        <%= link_to "Delete", job_path(@job), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
