<section class="jumbotron text-center py-5" style="background-color: #d3e0ea;">
  <div class="container">
    <h1 class="jumbotron-heading">All vendors</h1>
    <p class="lead text-muted">Here you can find all the delightful vendors who work hard to make your day a little brighter 🌟</p>
    <div class="container">
      <%= form_tag(vendors_path, method:"get") do %>
        <div class="input-group">
        <%= text_field_tag :search,params[:search],placeholder: "Search by location or handle", class: "form-control"%>
        <%= submit_tag "Search",class:"btn btn-info glyphicon glyphicon-search ml-1" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<div class="album py-3 px-3 bg-light">
  <div class="cards mt-3" style="display:grid; grid-template-columns: 1fr 1fr 1fr; grid-gap:10px">
    <% @vendors.each do |vendor| %>
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://source.unsplash.com/300x200/?portraits,<%= vendor.location %>" />

        <div class="card-body">
          <h4 class="card-title"><%= link_to vendor.handle, vendor_path(vendor) %></h4>
          <p class="card-text"><strong>Description: </strong><%= vendor.description %></p>
          <p class="card-text"><strong>Area of operation: </strong><%= vendor.location %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
